*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --colorDark1:#112D4E;
    --colorDark2:#3F72AF;
    --colorLight1:#DBE2EF;
    --colorLight2:#F9F7F7;
}

.wrapper{
    overflow-x: hidden;
    height: 130vh;
    color: var(--colorLight2);
    background: linear-gradient(180deg, rgb(142, 4, 142) 0%, rgb(2, 119, 135) 50%, rgb(142, 142, 2) 100%);
}   
h1{
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
    font-size: 3.5rem;
    font-weight: 500;
    font-family: "Hind Siliguri", sans-serif;
    letter-spacing:3px;
}
.tab-container{
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 550px;
    margin: 0 auto;
    margin-top: 3rem;
    cursor: pointer ;
    margin-bottom: 50px;
}
.tab{
    cursor: pointer;
    font-size: 1.1rem;
    letter-spacing: 1.75px;
    padding: 5px 8px ;

}
.tab.current-tab{
    background-color: rgba(219,226,239,0.5);
    border-radius: 4px;
}
.btn{
    all: unset;
    font-size: 0.85rem;
    text-transform: uppercase;
    border-radius: 5px;
    background-color:dodgerblue ;
    cursor: pointer;
    padding: 10px 30px;
    margin-bottom: 5px;
}
.sub-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grant-location-container{
    display: none;
}
.grant-location-container.active{
    display: flex;
}
.grant-location-container p:first-of-type{
    font-size: 1.7rem;
    font-weight: 600;
    text-transform: capitalize;
}
.grant-location-container p:last-of-type{
    font-size:0.85rem ;
    font-weight: 500;
    margin-top: 0.75rem;
    margin-bottom: 1.75rem;
    letter-spacing: 0.75px;
}
.loading-container.active{
    display: flex;
}
.loading-container{
    display: none;
}
.loading-container{
    text-transform: uppercase;
}

.user-weather-info{
    display:none;
}

.user-weather-info.active{
    display: flex;
}
.name{
    display: flex;
    align-items: center;
    gap: 0 0.5rem;
    margin-bottom: 1rem;
}
.user-weather-info p{
    font-size: 1.5rem;
    font-weight: 200;
}
.user-weather-info img{
    width: 90px;
    height: 90px;
}
.name p{
    font-size: 2rem;
}
.name img{
    width: 30px;
    height: 30px;
}
.user-weather-info p[data-temp]{
    font-size: 2.75rem;
    font-weight: 700;
}
.parameter-container{
    display: flex;
    gap: 10px 20px;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 1080px;
    height: 140px;
}
.parameter{
    width: 30%;
    height: 100%;
    max-width: 200px;
    background-color: rgba(219, 226, 239, 0.5);
    border-radius: 5px;

    padding: 1rem;
    display: flex;
    gap:5px 0;
    flex-direction: column;
    align-items: center;
    text-wrap: nowrap;
}
.parameter img{
    height: 50px;
    width: 50px;
}
.parameter p:first-of-type{
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}
.parameter p:last-of-type{
    font-size: 1.5rem;
    font-weight: 200;
}
.form-conatiner{
    display: none;
}
.form-conatiner{
    width: 90%;
    max-width: 550px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap:0 10px;
    margin-bottom: 3rem;
}
.form-conatiner.active{
    display: flex;
}
.form-conatiner input{
    all: unset;
    width: calc(100% - 80px);
    height: 40px;
    font-size: 1.4rem;
    font-weight: 300;
    padding: 0 20px;
    background-color: rgba(219, 226, 239, 0.5);
    border-radius: 10px;
}
.form-conatiner input::placeholder{
    color: whitesmoke;
}
.form-conatiner input:focus{
    outline: 3px solid rgba(219,226,239,0.5);
}
.form-conatiner .btn{
    padding: unset;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 1px;
}
.error{
    display: none;
}
.error.active{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.error img{
    width: 25rem;
    height: 25rem;
}
.error :nth-child(1){
    font-size:2rem ;
    font-weight: 600;
    letter-spacing: 2px;
}
.grant-btn{
    background-color:rgb(80, 183, 72) ;
    font-size: large;
    font-weight: 600;
}

@media screen and (max-width: 720px) {
    .parameter-container{
        flex-direction: column;
        height: 550px;
        margin-bottom: 50px;
    }
    h1{
        font-size: 1.8rem;
    }
    .tab{
        font-size: 1rem;
        text-wrap: nowrap;
    }
    .error :nth-child(1){
        font-size: 1.2rem;
        font-weight: 400;
    }
    .error img{
        width: 15rem;
        height: 15rem;
    }
}